<div class="thumbnails">
  {{#each volume in currentVolumes}}
    {{view BooksManager.VolumeInfoView eventBinding="volume"  contentBinding="this" target="volume"}}
  {{/each}}
</div>
<div>
  {{view BooksManager.LoadMoreView controllerBinding="controller"}}
</div>
<div id="modal"></div>

