<div id="header">
	<div id="logo"/>
	<div class="searchBox">
	        {{#view BooksApp.SearchVolumeView placeholder="search" action="search" target="BooksApp.searchVolumeController"}}
				<a class="gbqfb button" id="searchButton" {{action search target="BooksApp.searchVolumeController"}}>
					<span class="gbqfi"></span>
				</a>
			{{/view}}
	</div>
</div>
