{{#if isLoading}}
    fetching some more stuff <img width="20px" height="20px" src="img/ajax-loader.gif" >
{{else}}
    {{#if canLoadMore}}
        <a {{action "loadMore" target="controller" }} >click to load more</a>
    {{else}}
        <strong><em>no more items</em></strong>
    {{/if}}
{{/if}}