<div id="infiniteScroll">
	<table class="zbookTable">
		<tbody class=">" id="GbShelfHolder">
			{{#each volume in currentVolumes}}
				{{view BooksApp.VolumeInfoView contentBinding="this" target="volume"}}
			{{/each}}
		</tbody>
	</table>
</div>