<div id="header">
	<div id="logo"/>
	<div class="searchBox">
		{{#view BooksApp.SearchVolumeView placeholder="search"}}
		<a class="gbqfb button" {{action searchVolumes target="BooksApp.router.searchVolumeController"}}>
			<span class="gbqfi"></span>
		</a>
		{{/view}}
	</div>
</div>
