
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">BOOKS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li> 
              	<form class="navbar-form pull-right">
              		{{#view BooksApp.SearchVolumeView controllerBinding=controllers.searchVolume placeholder="search"}}
				{{/view}}
				</form>	
			</li>
            </ul>
            
          </div>
       
        </div>
      </div>
