<section id="section">
	<div class="navbar navbar-inverse navbar-fixed-top">
		{{outlet header}}	
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				{{outlet left}}
			</div>
			<div class="span10">
				{{outlet center}}
			</div>
		</div>
	</div>
	<footer>
		{{outlet footer}}
	</footer>
</section>
