<div class="volume-list">
	{{#each volume in currentVolumes}}
		{{view BooksApp.VolumeInfoView eventBinding="volume"  contentBinding="this" target="volume"}}
	{{/each}}
	<<div>
		{{view BooksApp.LoadMoreView controllerBinding="controller"}}
	</div>
</div>
