.dropbox {
  height: 4em;
  border: 2px solid #DDD;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: #FEFFEC;
  text-align: center;
  color: #BBB;
  font-size: 2em;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}

.roplabel {
  position: relative;
  top: 40%;
}
.dropfocus{
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;  
}
.endless_scroll_loader {
    position: fixed;
    bottom: 5%;
    right: 50px;
}

.loading {
    background-image: url("../img/ajax-loader.gif");
    width: 100px;
    height: 100px;
}

#infiniteScroll {
    height: 720px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#spinner_center {
    position: relative;
    top: 50%;
}
