
html, body, section {
    height: 100%;
    margin: -2px 0 0;
    overflow: hidden;
    padding: 0;
}
body {
	font: 13px/1.231 sans-serif;
	font-size: small;
}
ul,li {
	margin: 0;
	list-style: none;
	list-style-image: none;
}

div {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}
.application {
    height: 100%;
}
#header {
    height: 50px;
    background: none repeat scroll 0 0 #F1F1F1;
	border-color: #E5E5E5;
}
.header ul li {
    float: left;
}
.main-container {
    height: 89%;
    width: 100%;
}
.left-container {
    float: left;
    height: 100%;
    overflow-y: scroll;
    width: 30%;
}
.center-container {
    float: right;
    height: 100%;
    overflow-y: auto;
    width: 70%;
}
#logo {
    background-image: url("/img/onebooklogo.png");
    height: 43px;
    margin: 5px 84px;
    width: 89px;
    }
.searchBox {
    height: 27px;
    margin: 0 0 0 319px;
    max-width: 600px;
    position: absolute;
    top: 13px;
    width: 600px;
    z-index: 2;
}
.searchInput {
    font-size: 15px;
    width: 87%;
}
.gbqfb {
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF !important;
    margin: 0;
    padding: 3px;
}
.gbqfi {
    background-image: url("/img/k1_a31af7ac.png");
    background-position: -33px 2px;
    background-size: 294px 45px;
    display: inline-block;
    height: 14px;
    margin: 0 19px;
    width: 14px;
}
.button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.endless_scroll_loader {
	position: fixed;
	bottom: 5%;
	right: 50px;
}
.loading {
	background-image: url("../img/ajax-loader.gif");
	width: 100px;
	height: 100px;
}
a,a:active,a:visited {
	color: #607890;
}
a:hover {
	color: #036;
}
.volume-image-thumb {
    float: left;
    text-align: center;
    width: 160px;
}
.volume-image {
    float: left;
    text-align: center;
    margin-right: 10px;
}


.volume-info-data {
    display: table;
}
.volume-info {
    display: table;
    height: auto;
}
